body {
    background-color: white;
    color: black;
}

form {
    width: 30rem;
    align-items: baseline; /* Tasoittaa lomakeelementit vaakatasoon */
}

fieldset.section {
    border: 1px solid #9e9e9e;
    padding: 0, 20px;
}

legend {
    padding: 0 5px; /* Sisäinen marginaali */
}

.label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Täyttää välin elementtien välissä */
    align-items: flex-start; /* Asettaa elementit yläreunaan */
    margin: 0.5rem 0;
    width: 100%;
}

.label-container input[type="text"], 
.label-container label {
    flex: 0 0 50%; /* Vie puolet tilasta eikä veny tai kutistu */
}

#sarjatContainer label, #leimaustavatContainer label {
    display: flex;
    justify-content: flex-end;
}

#sarjatContainer input[type="radio"] {
    margin-left: 0.5rem; /* Ulkoinen marginaali vasemmalla */
}

input[type="submit"] {
    margin-top: 0.1rem; /* Ulkoinen marginaali ylhäältä */
}
